[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-environ = "*"
django-debug-toolbar = "*"
django-rest-authtoken = "*"
drf-yasg = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.10"
